.img {
  background-image: url("../../public/assets/home-img.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.first {
  position: relative;
  z-index: 1;
}
.overlay {
  z-index: 1;
}
.primary {
  background-image: url("../../public/assets/primarygoal.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.detailed {
  background-image: url("../../public/assets/detailed.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.track {
  background-image: url("../../public/assets/track.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.question {
  background-image: url("../../public/assets/question.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Add some content at the bottom of the video/page */
